<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<table>
  <tr>
    <th>Time</th>
    <th>Patient</th>
  </tr>
  <% @doctor.appointments.each do |appointment| %>
    <tr>
      <td><%= link_to appointment.patient, patient_path(appointment.patient)</td>
    </tr>
  <% end %>
